*{
    text-align: center;
}

h1{
    display: block;
    width: 100%;

    background-color: blueviolet;
    color: aliceblue;
    font-size: 5em;
}

body{
    background-color: rgb(110, 227, 188);
}

p{
    font-family:'Times New Roman', Times, serif;
    color: blueviolet;
    max-width: 80ch;
    margin: 0 auto;
    font-size: 25px;

}

p:nth-child(3n){
    background-color: rgb(250, 250, 250);
    margin-top: 30px;
}